form {
	overflow: auto;
	
	.form-group {
		margin: 1em auto;
		padding: 0 20px;
	}

	input {
		line-height: 1.4;
		padding: 0.5em 0.2em;
	}

	input.form-fullwidth {
		width: 100%;
	}

	button[type="submit"] {
		display: block;
	}
}