* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: 'Raleway', 'Noto Sans TC', sans-serif;
}

body {
	color: white;	
}

/* fullpage section */
.section {
	overflow: hidden;
	text-align: center;
}