

.ribbon-green {
  position: absolute;
  top: 1rem;
  font: bold 2rem Sans-Serif;
  line-height: 1.5;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  padding: 3px 0;
  width: 100%;
  background-color: #BFDC7A;
  background-image: linear-gradient(to top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.8);

  @media screen and (max-width: 530px) {
    font-size: 1.5rem
  }

  > span {
    display: block;
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
  }
}
