/* colors */
$color-green-sea: #16a085;
$color-light-gray: #D3D3D3;
$color-clouds: #f6f8f9;
$color-silver: #c1c7cb;
$color-concrete: #95a5a6;
$color-midnight-blue: #2c3e50;
$color-carrot: #e67e22;
$color-wet-asphalt: #34495e;
$color-peter-blue: #3498db;
$color-asbestos: #7f8c8d;