.filterable-table {
	font-size: 3rem;
	color: black;
	background-color: white;
	padding: 2rem;
	display: inline-block;
	box-shadow: 0 0 5px 3px;
	position: relative;
	max-height: 90%;
	overflow: auto;

	@media screen and (max-width: 500px) {
		font-size: 2.4rem;
		padding: 1rem;
	}

	@media screen and (max-width: 400px) {
		font-size: 1.7rem;
		padding: 1rem;
	}

	&__search-bar input[type='text'] {
		background-color: black;
		border: none;
		width: 100%;

		&:focus {
			color: white;
			outline: 2px solid yellow;
		}
	}
	
	&__search-bar-options {
		text-align: left;
		font-size: 0.8em;
	}

	&__search-bar-options input[type='checkbox'] {
		width: 0.8em;
		height: 0.8em;
	}

	> table {
		width: 100%;
	}	
}